body {
  background: url("../images/pexels.jpeg");
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

.col-lg-3 {
  padding-bottom: 10px;
  padding-top: 20px;
}

.Logo {
  font-size: 45px;
}

.text-wrapper {
  padding-bottom: 10px;
}
.navbar {
  justify-content: center;
}

.main {
  margin-top: 200px;
}

.row-main, .row-about {
  margin-bottom: 20px;
  padding-top: 20px;
}

.row-about {
  margin-top: 125px;
}

.card{
  margin-bottom: 40px;
}

.card-img-overlay {
  background-color: black;
  position: absolute;
  top: 205px;
}

.icon-link {
  font-size: 1.75em;
  margin-right: 10px;
}